
.icon-wrench:before { content: '\e800'; } /* '' */
.icon-grid:before { content: '\e801'; } /* '' */
.icon-list:before { content: '\e802'; } /* '' */
.icon-left:before { content: '\e803'; } /* '' */
.icon-right:before { content: '\e804'; } /* '' */
.icon-down:before { content: '\e805'; } /* '' */
.icon-up:before { content: '\e806'; } /* '' */
.icon-phone:before { content: '\e807'; } /* '' */
.icon-mail:before { content: '\e808'; } /* '' */
.icon-ok:before { content: '\e809'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-trash:before { content: '\e80b'; } /* '' */
.icon-plus:before { content: '\e80c'; } /* '' */
.icon-cog:before { content: '\e80d'; } /* '' */
.icon-save:before { content: '\e80e'; } /* '' */
.icon-edit:before { content: '\e810'; } /* '' */
.icon-edit-circled:before { content: '\e811'; } /* '' */
.icon-book:before { content: '\e812'; } /* '' */
.icon-star:before { content: '\e813'; } /* '' */
.icon-star-empty:before { content: '\e814'; } /* '' */
.icon-food:before { content: '\e815'; } /* '' */
.icon-share:before { content: '\e816'; } /* '' */
.icon-adult:before { content: '\e817'; } /* '' */
.icon-coffee:before { content: '\e818'; } /* '' */
.icon-cog-circled:before { content: '\e819'; } /* '' */
.icon-gift:before { content: '\e81a'; } /* '' */
.icon-restaurant:before { content: '\e832'; } /* '' */
.icon-loading:before { content: '\e834'; } /* '' */
.icon-shop:before { content: '\e835'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-building:before { content: '\f1ad'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-bed:before { content: '\f236'; } /* '' */
.icon-calendar-plus:before { content: '\f271'; } /* '' */
.icon-calendar-minus:before { content: '\f272'; } /* '' */
.icon-calendar-times:before { content: '\f273'; } /* '' */
.icon-calendar-check:before { content: '\f274'; } /* '' */
.icon-user-circled:before { content: '\f2be'; } /* '' */
.icon-id-badge:before { content: '\f2c1'; } /* '' */
.icon-bathtub:before { content: '\f2cd'; } /* '' */