@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?80443449');
  src: url('../font/fontello.eot?80443449#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?80443449') format('woff2'),
       url('../font/fontello.woff?80443449') format('woff'),
       url('../font/fontello.ttf?80443449') format('truetype'),
       url('../font/fontello.svg?80443449#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?80443449#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-wrench:before { content: '\e800'; } /* '' */
.icon-grid:before { content: '\e801'; } /* '' */
.icon-list:before { content: '\e802'; } /* '' */
.icon-left:before { content: '\e803'; } /* '' */
.icon-right:before { content: '\e804'; } /* '' */
.icon-down:before { content: '\e805'; } /* '' */
.icon-up:before { content: '\e806'; } /* '' */
.icon-phone:before { content: '\e807'; } /* '' */
.icon-search:before { content: '\e808'; } /* '' */
.icon-cancel:before { content: '\e809'; } /* '' */
.icon-bell:before { content: '\e80b'; } /* '' */
.icon-ok:before { content: '\e80c'; } /* '' */
.icon-cog:before { content: '\e80d'; } /* '' */
.icon-save:before { content: '\e80e'; } /* '' */
.icon-calendar:before { content: '\e80f'; } /* '' */
.icon-edit:before { content: '\e810'; } /* '' */
.icon-params:before { content: '\e811'; } /* '' */
.icon-mail:before { content: '\e812'; } /* '' */
.icon-star-full:before { content: '\e813'; } /* '' */
.icon-star:before { content: '\e814'; } /* '' */
.icon-heart-full:before { content: '\e815'; } /* '' */
.icon-share:before { content: '\e816'; } /* '' */
.icon-heart:before { content: '\e817'; } /* '' */
.icon-cart:before { content: '\e818'; } /* '' */
.icon-shop:before { content: '\e819'; } /* '' */
.icon-book:before { content: '\e81a'; } /* '' */
.icon-globe:before { content: '\e81b'; } /* '' */
.icon-megaphone:before { content: '\e81c'; } /* '' */
.icon-beaker:before { content: '\e81d'; } /* '' */
.icon-barcode:before { content: '\e81e'; } /* '' */
.icon-plus:before { content: '\e81f'; } /* '' */
.icon-loading:before { content: '\e834'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-trash:before { content: '\f083'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-language:before { content: '\f1ab'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-user:before { content: '\f2c0'; } /* '' */
.icon-id-badge:before { content: '\f2c1'; } /* '' */