
.icon-wrench:before { content: '\e800'; } /* '' */
.icon-grid:before { content: '\e801'; } /* '' */
.icon-list:before { content: '\e802'; } /* '' */
.icon-left:before { content: '\e803'; } /* '' */
.icon-right:before { content: '\e804'; } /* '' */
.icon-down:before { content: '\e805'; } /* '' */
.icon-up:before { content: '\e806'; } /* '' */
.icon-phone:before { content: '\e807'; } /* '' */
.icon-search:before { content: '\e808'; } /* '' */
.icon-cancel:before { content: '\e809'; } /* '' */
.icon-bell:before { content: '\e80b'; } /* '' */
.icon-ok:before { content: '\e80c'; } /* '' */
.icon-cog:before { content: '\e80d'; } /* '' */
.icon-save:before { content: '\e80e'; } /* '' */
.icon-calendar:before { content: '\e80f'; } /* '' */
.icon-edit:before { content: '\e810'; } /* '' */
.icon-params:before { content: '\e811'; } /* '' */
.icon-mail:before { content: '\e812'; } /* '' */
.icon-star-full:before { content: '\e813'; } /* '' */
.icon-star:before { content: '\e814'; } /* '' */
.icon-heart-full:before { content: '\e815'; } /* '' */
.icon-share:before { content: '\e816'; } /* '' */
.icon-heart:before { content: '\e817'; } /* '' */
.icon-cart:before { content: '\e818'; } /* '' */
.icon-shop:before { content: '\e819'; } /* '' */
.icon-book:before { content: '\e81a'; } /* '' */
.icon-globe:before { content: '\e81b'; } /* '' */
.icon-megaphone:before { content: '\e81c'; } /* '' */
.icon-beaker:before { content: '\e81d'; } /* '' */
.icon-barcode:before { content: '\e81e'; } /* '' */
.icon-plus:before { content: '\e81f'; } /* '' */
.icon-loading:before { content: '\e834'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-trash:before { content: '\f083'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-language:before { content: '\f1ab'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-user:before { content: '\f2c0'; } /* '' */
.icon-id-badge:before { content: '\f2c1'; } /* '' */