.left_border_1 {
    border-left: 3px solid #FFCE55;
}
.left_border_2 {
    border-left: 3px solid #48CFAE;
}

.btn-round {
    padding: 0.75rem;
    border-radius: 10rem;
    max-width: 3em;
}
.tag-round-text {
    padding-right: .5em;
    padding-left: .5em;
    border-radius: 10rem;
}
.tag-round-icon {
    padding-right: 0.1em;
    padding-left: 0.1em;
    border-radius: 10rem;
}
    .btn-round .tag-round-text, .btn-round .tag-round-icon {
        top: 0.7rem;
        right: 0.3rem;
    }

#site-footer, .breadcrumb {
  margin-top: 3em;
}


.calendar {
  margin: 4.5em 0;
}
.calendar__dates_wrapper {
    margin-top: .85em;
}
.calendar__toolbar .btn-group, .btn-toolbar .input-group {
    float: right;
}
.calendar__date {
    width: 14.28571428571429%;
    float: left;
    text-align: center;
    font-weight: bold;
}
.calendar__days_wrapper {
  border-right: 6px solid #FFFFFF;
  border-bottom: 6px solid #FFFFFF;
}
.calendar__day {
  width: 14.28571428571429%;
  float: left;
  background: #fbfbfb;
  border: 6px solid #FFFFFF;
  border-right-width: 0px;
  border-bottom-width: 0px;
  min-height: 154px;
}
.calendar__day__date {
  color: #CCD0D9;
  font-size: 1.5em;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  text-align: right;
}
.calendar__day__room_data {
  font-size: .875rem;
  clear: both;
  padding-top: .875em;
  margin: 0;
}
.calendar__day__data_section {
  margin-top: .6em;
  padding: 0 15px;
}
    .calendar__day__data_section .icon-book, .calendar__day__data_section .icon-shop {
      color: #434A54;
    }



@media (max-width: 543px) {
    .calendar__toolbar .btn {
        padding: .5rem;
        font-size: .875rem;
    }
    .calendar__days_wrapper {
        padding: 0 15px;
    }
    .calendar__day {
        width: 100%;
    }
        .calendar__day_empty {
            display: none;
        }
}